@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}



:root {
  --bg-white: #FFFFFF;
  --bg-black: #00000;
  --bg-transparent: #bdc1c600;

  --main-color: #024F30;
  --secondary-color: #D3A900;

  --normal-text: #FFFFFF;
  --regular-text: #000;
  --paragraph-color: dimgray;
  --heading-color: #FFFF;
}


.option {
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 30px;
}

h1 {
  color: #008000;
  font-size: 60px;
  color: var(--heading-color);
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

p {
  color: var(--paragraph-color);
  font-size: 20px;
}

.header-area {
  background-color: var(--transparent-bg-color);
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

.sticky {
  background-color: white;
  position: fixed;
  width: 100%;
  padding-top: 102px;
  transition: all 0.4s ease-in;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  z-index: 9;

}

.brand {
  width: 40%;
  height: 100px;
  margin-left: 5%;
  outline: none;
  z-index: 9;
}

.brand img {
  width: 110px;
  height: auto;


}

.navigation {
  display: flex;
  width: 50%;
  margin-right: 5%;
  z-index: 9;
}

.navigation ul {
  margin-top: 30px;
  border-radius: 20px;
  background-color: white;
  height: 40px;
  width: 62%;
  display: flex;
  list-style-type: none;
  opacity: 0.8;
}

.navigation li {
  padding-top: 10px;

}

.navigation li a {
  color: #024F30;
  text-decoration: none;
  margin-right: 35px;

}

.navigation li a:hover {
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.4s ease-in;
}

.donate-btn {
  color: white;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 3px;
  margin-left: 10px;

}

.donate-btn:hover {
  background-color: var(--secondary-color);
  transition: all 0.2s ease-in;
}

/* top banner area start */


.top-banner {
  margin-top: -110px;
  background-image: url(../img/bg-1.png);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  width: 100%;
  height: 135vh;
}

.top-content {

  background-color: black;
  opacity: 0.8;
  padding: 259px 100px;
  width: 40%;
  text-transform: capitalize;

}


.top-content p {
  width: 70%;
  font-size: 16px;
  color: white;
  margin-top: -10px;
}

.common-btn {
  color: white;
  text-decoration: none;
  background-color: var(--main-color);
  padding: 10px 40px;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 3px;


}

.common-btn:hover {
  background-color: var(--secondary-color);
  transition: all 0.2s ease-in;
}


span {
  background-image: linear-gradient(43deg, var(--main-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 60px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}


/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 24em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}

/* top banner area start */

.title {
  font-size: 18px;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #024F30;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.youtube {
  width: 800px;
  margin-left: 20%;
  margin-right: 10%;
  /* border: 10px solid #024F30;
  box-shadow: 5px 5px 20px #024F30; */
  border-radius: 3px;
  margin-bottom: 30px;
}

.helping-option {
  width: 100%;
  display: flex;

}

.option-01 {
  width: 40%;
  padding: 30px;
  margin-left: 20px;
  background-color: #024f3033;
  color: var(--regular-text);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.option-01:hover {
  background-color: #D3A900;
  transition: all 0.4s ease-in-out;
  color: white;

}

.option-01 p:hover {
  transition: all 0.4s ease-in-out;
  color: white;

}

.option-01 h3 {
  width: 45%;
  color: #024F30;
}

.option-01 p {

  font-size: 16px;
  text-align: justify;

}



.main {
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 30px;
}

.youtube {
  background-image: url(../img/frame.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 673px;
  height: 550px;
  margin-left: 362px;
  padding-top: -184px;
  margin-top: -150px;
}

.youtube iframe {
  margin-left: 64px;
  width: 544px;
  padding-top: 139px;
  height: 318px;
}

/* info area start */

.side-bar {
  display: flex;
  padding-top: 150px;

}

.side-text {
  width: 41%;
  padding-top: 60px;
  margin-right: 50px;
  text-align: justify;
}

.side-text h2 {
  font-size: 45px;
}

.side-text P,
.side-text2 P {
  font-size: 18px;
}

.side-text2 {
  width: 40%;
  padding-top: 80px;
  text-align: justify;
  padding-bottom: 100px;

}

.profile-image img {
  width: 550px;
  border-radius: 3px;
  margin-left: 70px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 0.4s ease;
}

.profile-image img:hover {
  transform: scale(1.1);

}

.profile-image2 img:hover {
  transform: scale(1.1);

}

.profile-image2 img {
  width: 550px;
  border-radius: 3px;
  margin-right: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 0.4s ease;

}

.play-btn {
  margin-top: -250px;
}

.play-btn img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin-left: 260px;
  background-color: #333;
  place-content: center;
  animation: grow 1s infinite;
}



@keyframes grow {
  from {
    box-shadow: 0px 0px 60px var(--main-color);
    transition: all 0.2s ease-in;
  }

  to {
    box-shadow: 0px 0px 60px var(--button-hover-bg);
    transition: all 0.2s ease-in;
  }
}


/* Gallery Area Start */

.gallery-image img {
  width: 380px;
  margin-left: 10px;
  padding-bottom: 10px;
}

.gallery-image img:hover {
  filter: grayscale(1);
  transition: all 0.3s ease-in-out;
}

.gallery-image p {
  padding-top: -50px;
}

label {
  margin-left: 10px;
}

.field {
  color: #024F30;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 30px;

}

progress {
  margin-left: 50px;
  transition: all 0.2s ease-in-out;
}

#donate {
  width: 50%;
  height: 20px;


}

#donate:hover {
  background-image: linear-gradient(to right, var(--main-color), var(--secondary-color));
  color: black;
  width: 50%;
  height: 20px;
  border-radius: 20px;

}

.bar {
  padding-left: 320px;
}

/* Donation ammount Area */
.amount-counter {
  height: auto;
}

.counter {
  display: flex;
  padding: 40px;
  margin-left: 150px;
}

.amount-1 {
  text-decoration: none;
  font-size: 22px;
  padding: 50px;
  color: var(--regular-text);
  margin-left: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 0.2s ease-in;
}

.amount-1:hover {
  background-color: var(--main-color);
  color: var(--normal-text);
}

#active-amount {
  background-color: var(--secondary-color);
  color: var(--normal-text);
}



.donate-amount {
  padding-left: 395px;
  padding-bottom: 20px;
}

.donate-amount input {
  padding-top: 50px;
  width: 350px;
  height: 50px;
  font-size: 18px;
  outline: none;
  text-align: center;
  border: none;
  border-bottom: 1px solid var(--main-color);
}

.btn {
  padding: 10px 20px;
  background-color: var(--main-color);
  border: none;
  color: var(--normal-text);
  margin-left: 530px;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 0.4s;
  text-decoration: none;
}

.btn:hover {
  padding: 10px 20px;
  margin-top: 50px;
  background-color: var(--secondary-color);
  border: none;
  color: var(--normal-text);
  margin-left: 530px;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


/* Footer Area start */
.footer-area {
  width: 100%;
  height: 80vh;
  background-color: var(--main-color);
}

.footer-areas {
  width: 40%;
  text-align: center;
}

.footer {
  display: flex;

  padding-top: 60px;

}

.footer-brand img {
  width: 400px;

}

.footer-nav ul li {
  text-align: start;
  list-style-type: none;
  padding: 10px 0px;

}

.footer-nav,
.footer-text h3 {
  color: var(--normal-text);
  text-align: start;

}

.footer-text {
  margin-right: 105px;
}

.footer-nav a {
  text-decoration: none;
  color: var(--normal-text);
  padding-bottom: -50px;
}

.footer-nav li a:hover {
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.4s ease-in;
}

hr {
  width: 50%;
  text-align: start;
  animation: border-animation 0.5s ease-in-out 0.2s infinite direction;
}

.underline {
  width: 50%;
  text-align: start;
  border-color: var(--normal-text);
  animation: border-animation 0.5s ease-in-out 0.2s infinite direction;
}

.fa-handshake,
.fa-ribbon {
  color: var(--secondary-color);

}

.contact {
  margin-left: 550px;
  text-decoration: none;
}