@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --button-bg-color: #ef233c;
  --button-hover-bg: #40C0FF;
  --navigation-color: #ef233c;
  --paragraph-text-color: dimgray;
  --heading-text-color: #fff;
  --main-bg: dimgray;
  --transparent-bg-color: #bdc1c600;

}

h1 {
  font-size: 60px;
  color: var(--heading-text-color);
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

p {
  color: var(--paragraph-text-color);
  font-size: 20px;
}

.header-area {
  background-color: var(--transparent-bg-color);
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sticky {
  background-color: var(--heading-text-color);
  position: fixed;
  top: 0px;
  width: 100%;
  padding-top: 5px;
  transition: all 0.2s ease-in;
}

.brand {
  width: 40%;
  height: 100px;
  margin-left: 5%;
}

.brand img {
  width: 110px;
  height: auto;

}

.navigation {
  display: flex;
  width: 50%;
  margin-right: 5%;

}

.navigation ul {
  margin-top: 40px;
  display: flex;
  list-style-type: none;


}

.navigation li a {
  color: var(--navigation-color);
  padding: 30px 20px;
  text-decoration: none;
  margin-right: 10px;
}

.navigation li a:hover {
  border-bottom: 1px solid var(--button-hover-bg);
  color: var(--button-hover-bg);
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.4s ease-in;
}

.donate-btn {
  color: white;
  text-decoration: none;
  background-color: var(--button-bg-color);
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 3px;

}

.donate-btn:hover {
  background-color: var(--button-hover-bg);
  transition: all 0.2s ease-in;
}

/* top banner area start */
.top-banner {
  height: 100%;
  background-image: url(../img/bg-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.top-content {
  width: 40%;
  margin-left: 30px;
  padding: 150px 60px;
}

.top-content p {
  font-size: 20px;
  color: white;
  margin-top: -10px;
}